* {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 5px;
    margin-right: 20px;
}

#title {
    font-size: 30px;
    font-weight: 700;
}

#scoreboard {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#playerWaterField {
    font-size: 16px;
    font-weight: 700;
}

#gameNameField {
    font-size: 20px;
    font-weight: 1000;
}
